# Directories
**bin/
**bin-int/
!/vendor/bin
run/

# Files
*.user
*imgui.ini
Makefile
*.make
OpenGL-Examples
OpenGL-FirstTry
OpenGl-Sandbox

# Visual Studio
.vs/
.vscode/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
