# Directories
**bin/
**bin-int/
!/vendor/bin
run/
.vscode/


# Files
*.user
*imgui.ini
Makefile
*.make
OpenGL-Core/vendor/glfw/GLFW.make
OpenGL-Examples
OpenGL-FirstTry/OpenGL-FirstTry
OpenGL-FirstTry/m
OpenGL-FirstTry/c.sh
OpenGL-Sandbox


